@use '../../../styles/gradients' as gradients;
@use '../../../styles/borders' as borders;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/colours' as colours;
@use '../../../styles/media-queries' as media;

.colour-wheel-container {
  max-width: 400px;
  width: 100%;
  position: absolute;
  
  @include media.tablet-plus {
    position: unset;
  }

  .colour-wheel, .white-overlay, .value-overlay {
    border-radius: 100%;
    border: borders.$border-basic;
    position: absolute;
    width: 100%;
  }

  .colour-wheel {
    @include gradients.hue-gradient-background-radial;
  }

  .value-overlay {
    background: colours.$outline;
  }

  .white-overlay {
    background: radial-gradient(white, transparent);
  }

  .pointer-secondary {
    opacity: 50%;
  }
}


