@use '../../../styles/gradients' as gradients;
@use '../../../styles/borders' as borders;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/colours' as colours;

.colour-wheel-container {
  margin: spacing.$double;

  .colour-wheel, .white-overlay, .value-overlay {
    border-radius: 100%;
    border: borders.$border-basic;
    position: absolute;
    box-sizing: border-box;
  }

  .colour-wheel {
    @include gradients.hue-gradient-background-radial;
  }

  .value-overlay {
    background: colours.$outline;
  }

  .white-overlay {
    background: radial-gradient(white, transparent);
  }

  .pointer-secondary {
    opacity: 50%;
  }
}


