<app-slider
  sliderName="Hue"
  title="Hue"
  class="hue-slider"
  [value]="colour.hue"
  (valueChange)="hueChanges($event)"
  [min]="0"
  [max]="hueMax">
</app-slider>

<app-slider
  sliderName="Saturation"
  title="Saturation"
  class="saturation-slider"
  [value]="colour.saturation"
  (valueChange)="saturationChanges($event)"
  [min]="0"
  [max]="saturationMax"
  [backgroundColourFrom]="{ hue: colour.hue, saturation: 0, value: colour.value }"
  [backgroundColourTo]="{ hue: colour.hue, saturation: saturationMax,value: colour.value }
  "></app-slider>

<app-slider
  sliderName="Value"
  title="Value"
  class="value-slider"
  [value]="colour.value"
  (valueChange)="valueChanges($event)"
  [min]="0"
  [max]="valueMax"
  [backgroundColourFrom]="{ hue: colour.hue, saturation: colour.saturation, value: 0 }"
  [backgroundColourTo]="{ hue: colour.hue, saturation: colour.saturation, value: valueMax }
  "></app-slider>
