@use '../../../styles/gradients' as gradients;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/borders' as borders;

:host {
  display: block;
  width: 100%;
  height: 15px;
}

input[type="range"] {
  @include gradients.hue-gradient-background-linear;

  -webkit-appearance: none !important;
  appearance: none !important;
  accent-color: transparent;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 6px;
  box-sizing: border-box;
}

.offset-hue-background input[type="range"] {
  @include gradients.offset-hue-gradient-background-linear;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  background:transparent;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: borders.$border-thin;
  box-sizing: border-box;
}