@use '../../../styles/gradients' as gradients;

input[type="range"] {
    @include gradients.hue-gradient-background-linear;

    -webkit-appearance: none !important;
    appearance: none !important;
    accent-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 20px;
}

.offset-hue-background input[type="range"] {
    @include gradients.offset-hue-gradient-background-linear;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    background:blue;
    height:10px;
    width:10px;
}