@mixin hue-gradient-background-radial {
    background: conic-gradient(from 240deg, black 0deg, red 60deg,  red 180deg,  black 240deg), 
                conic-gradient(from 0deg,   black 0deg, lime 60deg, lime 180deg, black 240deg), 
                conic-gradient(from 120deg, black 0deg, blue 60deg, blue 180deg, black 240deg);
    background-blend-mode: screen;
}

@mixin hue-gradient-background-linear {
    background: linear-gradient(0.25turn, red,   red,   black, black, black, red,   red), 
                linear-gradient(0.25turn, black, lime,  lime,  lime,  black, black, black), 
                linear-gradient(0.25turn, black, black, black, blue,  blue,  blue,  black);
    background-blend-mode: screen;
}

@mixin offset-hue-gradient-background-linear {
    background: repeating-linear-gradient(0.25turn, black, black, red,   red,   red,   black, black, ), 
                repeating-linear-gradient(0.25turn, lime,  lime,  lime,  black, black, black, lime,  ), 
                repeating-linear-gradient(0.25turn, blue,  black, black, black, blue,  blue,  blue,  );
    background-blend-mode: screen;
}