<div class="wheel-container" [style.height.px]="wheelDiameter">
  <app-colour-wheel [selectedColour]="selectedColour" [(colourPalette)]="colourPalette"
    [diameter]="wheelDiameter"></app-colour-wheel>
</div>

<div class="vertical-rule"></div>

<div class="colours">
  <div class="buttons">
    <button (click)="addComplementary()">Add colour</button>
  </div>
  <div class="swatch-container">
    <div class="swatches">
      @for (anchor of colourPalette; track anchor) {
      <app-swatch [colour]="{
            hue: anchor.colour.hue,
            saturation: anchor.colour.saturation,
            value: anchor.colour.value,
          }">
        <app-hsv-sliders [(colour)]="anchor.colour"></app-hsv-sliders>
      </app-swatch>
      @for (colour of anchor.relatedColours; track colour) {
      <app-swatch [colour]="{
              hue: getOffsetHue(anchor.colour, colour.hueOffset),
              saturation: colour.saturation,
              value: colour.value,
            }" [width]="200">
        <app-relative-colour-sliders [anchorHue]="anchor.colour.hue" [(relativeColour)]="anchor.relatedColours[$index]"
          [containerWidth]="200"></app-relative-colour-sliders>
      </app-swatch>
      }
      }
    </div>
  </div>

</div>