@use '../../../styles/media-queries' as media;
@use '../../../styles/borders' as borders;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/colours' as colours;

:host {
  display: flex;
  flex-direction: column;
  @include media.tablet-plus {
    flex-direction: row;
  }
}

.swatches {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: spacing.$standard;
  flex-wrap: wrap;
  align-content: stretch;

  @include media.desktop {
    flex-direction: row;
  }
}

.swatch-container {
  margin: spacing.$double;
}

.buttons, .swatch-container {
  z-index: 1;
}

.colours {
  display: flex;
  flex-direction: column;
  flex-basis: fit-content;

  border-radius: 0 0 borders.$radius-inner borders.$radius-inner;

  overflow: hidden;
  position: relative;

  max-width: 1008px;

  .blurred-gradient-background {   
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.66)), var(--scheme-gradient);

    z-index: 0;
  }

  @include media.tablet-plus {
    border-radius: 0 borders.$radius-inner borders.$radius-inner 0;
  }
}

.buttons {
  width: 100%;
}

button.add-colour {  
  color: colours.$background-primary;
  margin-bottom: spacing.$double;
  position: inherit;
}

.wheel-container {
  box-sizing: border-box;

  width: unset;

  padding: spacing.$larger;
  background-color: colours.$grey-100;
  border-radius: 50%;
  border: borders.$border-basic;

  align-self: center;

  margin: spacing.$standard;

  @include media.desktop {
    margin: spacing.$triple;
  }
}

.divider {
  border-top: borders.$border-thin;

  @include media.tablet-plus {
    border-right: borders.$border-thin;
    border-top: none;
  }
}