@use '../../../styles/media-queries' as media;
@use '../../../styles/borders' as borders;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/colours' as colours;

:host {
  display: flex;
  flex-direction: column;
  @include media.tablet-plus {
    flex-direction: row;
  }
}

.swatches {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: spacing.$standard;
  flex-wrap: wrap;

  @include media.desktop {
    flex-direction: row;
  }
}

.swatch-container {
  margin: spacing.$standard;
}

.colours {
  display: flex;
  flex-direction: column;
  flex-basis: fit-content;
}

.buttons {
  width: 100%;
}

button {
  background-color: colours.$outline;
  border: borders.$border-basic;
  color: colours.$background-primary;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: spacing.$standard;
  cursor: pointer;
}

.wheel-container {
  margin: auto;
  margin: spacing.$double;
}

.vertical-rule {
  border-right: borders.$border-basic;
}