@use '../styles/media-queries' as media;
@use '../styles/borders' as borders;
@use '../styles/spacing' as spacing;
@use '../styles/colours' as colours;

:host {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: spacing.$triple;
  background: colours.$background-secondary;
  border-radius: 0 0 borders.$radius-inner borders.$radius-inner;
}

.content-container {
  @include media.tablet-plus {
    margin: auto;
  }
}

.content {
  margin: spacing.$standard;

  background: colours.$background-primary;

  border: borders.$border-basic;
  border-radius: borders.$radius-basic;
  flex-basis: fit-content;
}

.header-bar {
  border-radius: borders.$radius-inner borders.$radius-inner 0 0;
  border-bottom: borders.$border-basic;
  padding: spacing.$standard;

  h1 {
    margin: 0;
    margin-bottom: -6px;
  }
}