@use '../styles/media-queries' as media;
@use '../styles/borders' as borders;
@use '../styles/spacing' as spacing;
@use '../styles/colours' as colours;

:host {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: column;

  @include media.desktop {
    flex-direction: row;
  }

  flex-grow: 1;
  background: colours.$background-tertiary;
  overflow: hidden;
}

.content-container {
  padding: spacing.$standard;
  padding-top: spacing.$quadruple;

  @include media.tablet-plus {
    padding-left: spacing.$double;
    padding-right: spacing.$double;
    padding-bottom: spacing.$triple;
    margin: auto;
    display: flex;
  }

  @include media.desktop {
    padding-left: spacing.$quadruple;
    padding-right: spacing.$triple;
  }
}

.content {
  margin: auto;

  background: colours.$background-secondary;

  border: borders.$border-basic;
  border-radius: borders.$radius-basic;
  flex-basis: fit-content;
}

.header-bar {
  border-radius: borders.$radius-inner borders.$radius-inner 0 0;
  border-bottom: borders.$border-thin;
  padding: spacing.$double;
  letter-spacing: -2px;
  font-weight: light;

  position: relative;

  overflow: hidden;

  h1 {
    position: relative;
    margin: 0;
    margin-bottom: -6px;
  }
}