@use '../../../../styles/borders' as borders;
@use '../../../../styles/colours' as colours;

div {
    background: colours.$background-primary;
    position: absolute;
    box-sizing: border-box;
}

.pointer {
    border-radius: 100%;
    border: borders.$border-basic;
}

.arm {
    min-width: 1px;
    min-height: 1px;
}