<app-slider
  #relativeHueSlider
  sliderName="Relative Hue"
  title="Relative Hue"
  class="relative-hue-slider offset-hue-background"
  [value]="relativeColour.hueOffset"
  (valueChange)="relativeHueChange($event)"
  [min]="0"
  [max]="hueMax"
  [step]="12"
  [backgroundOffset]="getBackgroundOffset()"></app-slider>

<app-slider
  sliderName="Saturation"
  title="saturation"
  class="saturation-slider"
  [value]="relativeColour.saturation"
  (valueChange)="saturationChange($event)"
  [min]="0"
  [max]="saturationMax"
  [backgroundColourFrom]="{
      hue: colourMathsService.getOffsetHue(anchorHue, relativeColour.hueOffset),
      saturation: 0,
      value: relativeColour.value
    }"
  [backgroundColourTo]="{
      hue: colourMathsService.getOffsetHue(anchorHue, relativeColour.hueOffset),
      saturation: saturationMax,
      value: relativeColour.value
    }"
  ></app-slider>

<app-slider
  sliderName="Value"
  title="Value"
  class="value-slider"
  [value]="relativeColour.value"
  (valueChange)="valueChange($event)"
  [min]="0"
  [max]="valueMax"
  [backgroundColourFrom]="
    {
      hue: colourMathsService.getOffsetHue(anchorHue, relativeColour.hueOffset),
      saturation: relativeColour.saturation,
      value: 0,
    }
  "
  [backgroundColourTo]="
    {
      hue: colourMathsService.getOffsetHue(anchorHue, relativeColour.hueOffset),
      saturation: relativeColour.saturation,
      value: valueMax,
    }
  "></app-slider>
