@use '../../../styles/borders' as borders;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/colours' as colours;
@use '../../../styles/media-queries' as media;

:host {
  box-sizing: border-box;
  position: relative;
  top: 0;
  background-color: colours.$background-secondary;
  transition: 300ms cubic-bezier(.02,.68,.63,.98);
  border-bottom: borders.$border-thin;

  //default
  max-height: 0;

  @include media.desktop {
    max-height: unset;
    width: var(--sidebar-collapsed-width);
    margin-left: -1 * borders.$width-basic;
    margin-bottom: borders.$width-basic;  
    border-left: borders.$border-basic;
    border-right: borders.$border-basic;
    border-width: 0 borders.$width-thin 0 0;
    box-sizing: border-box;
  }

  //expanded
  &.is-expanded {
    max-height: 100vh;

    @include media.desktop {
      width: var(--sidebar-width);
      margin-bottom: 0;
      max-height: unset;
    }
  }
}

.sidebar-body-container {
  max-height: inherit;
  overflow: hidden;
  margin: spacing.$double;
  box-sizing: border-box;
}

.sidebar-body {
  width: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  p {
    min-width: calc(var(--sidebar-width) - spacing.$double * 2);
  }

  h3 {
    margin-top: 0;
  }
}

.toggle-button {
  display: inline-flex;

  $size: spacing.$triple;

  position: absolute;

  right: spacing.$standard;
  bottom: calc($size * -1);
  border-radius: 0 0 borders.$radius-basic borders.$radius-basic;

  @include media.desktop {
    top: spacing.$standard;
    right: 0px;
    right: calc($size * -1);
    bottom: unset;
    border-radius: 0 borders.$radius-basic borders.$radius-basic 0;
  }
}