@use '../../../styles/borders' as borders;
@use '../../../styles/spacing' as spacing;
@use '../../../styles/colours' as colours;
@use '../../../styles/media-queries' as media;

:host {
  box-sizing: border-box;
  position: relative;
  top: 0;
  background-color: colours.$background-primary;
  transition: 300ms cubic-bezier(.02,.68,.63,.98);

  //default
  max-height: 0;

  @include media.desktop {
    max-height: unset;
    width: var(--sidebar-collapsed-width);
    margin-left: -1 * borders.$width-basic;
    margin-bottom: borders.$width-basic;  
    border-left: borders.$border-basic;
    border-right: borders.$border-basic;
    border-width: 0 borders.$width-half 0 borders.$width-half;
    border-radius: 0 0 0 borders.$radius-inner;
  }

  //expanded
  &.is-expanded {
    max-height: 100vh;
    border-bottom: borders.$border-basic;

    @include media.desktop {
      width: var(--sidebar-width);
      border-width: 0 borders.$width-basic 0 0;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

.sidebar-body-container {
  max-height: inherit;
  overflow: hidden;
  padding: spacing.$standard;
  box-sizing: border-box;
}

.sidebar-body {
  width: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  p {
    min-width: calc(var(--sidebar-width) - spacing.$double);
  }
}

.toggle-button {
  display: flex;

  align-items: center;
  justify-content: center;

  $size: spacing.$triple;
  width: $size;
  height: $size;
  margin: 0;
  padding: 0;
  border: none;

  position: absolute;

  right: spacing.$standard;
  bottom: calc($size * -1);
  border-radius: 0 0 borders.$radius-basic borders.$radius-basic;

  @include media.desktop {
    top: spacing.$standard;
    right: 0px;
    right: calc($size * -1);
    bottom: unset;
    border-radius: 0 borders.$radius-basic borders.$radius-basic 0;
  }

  background-color: colours.$outline;

  cursor: pointer;

  box-sizing: content-box;

  &:hover {
    .mat-icon {
      animation: grow-shrink-wiggle 3s linear infinite;

      @keyframes grow-shrink-wiggle {
        0% {
          transform: rotate(0) scale(1);
        }
        20% {
          transform: scale(1.2);
        }
        40% {
          transform: scale(1);
        }
        60% {
          transform: scale(1.2);
        }
        80% {
          transform: scale(1);
        }
        85% {
          transform: rotate(-30deg);
        }
        90% {
          transform: rotate(30deg);
        }
        95% {
          transform: rotate(-30deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  mat-icon {
    font-size: 1.5em;

    width: fit-content;
    height: fit-content;

    color: colours.$background-primary;
  }
}