<div class="sidebar-body-container">
  <div class="sidebar-body">
    <h3>Help</h3>
    <p>
    Click the wheel or modify the first colour to alter the palette as a whole, or add a colour and use the slider to change its relation to the anchor colour. 
    </p>
    <p>
      Why not try creating a complimentary palette by adding a second colour? 
    </p>
    <p>
      There are also tetrad, quaternary, split-complimentary, and more! If you're struggling, try making your palette more symmetrical. 
    </p>
  </div>
</div>

<button
  class="toggle-button"
  (click)="this.sidebarService.toggleSidenav()"
>
  <mat-icon icon>question_mark</mat-icon>
</button>