@use '../../../styles/borders' as borders;
@use '../../../styles/spacing' as spacing;

.swatch {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: borders.$radius-basic;
  border: borders.$border-basic;
}

.colour-container, .hex-container {
  max-width: 100%;
  margin: spacing.$half 12px spacing.$half spacing.$half;
  min-width: 0;
}

.hex-container {
    text-align: center;
}